.card-behind {
    display: grid;
    width: 9cm;
    height: 15cm;
    border-style: solid;
    border-color: red;
    grid-template-areas:
    'atas'
    'tengah1'
    'tengah2'
    'bawah';
    grid-gap: 10px;
    padding: 10px;
}

p {
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}

.item1 { 
    font-family: "Arial";
    font-weight: bold;
    font-size: 20px;
    grid-area: atas; 
    text-align: center;
}
.item2 { 
    grid-area: tengah1; 
    text-align: left;
    margin-left: 20px;
}
.item3 { 
    grid-area: tengah2; text-align: center;
}

.item4 {
    grid-area: bawah; text-align: center;
}